include inc/header.pug          
// Main content
#panel.main-content
 <div _ngcontent-lgx-c105="" class="col-12 text-right" style="margin-top:15px; padding-right:30px;"><a _ngcontent-lgx-c105="" href="/admin/logout" class="btn btn-sm btn-primary">Logout</a></div>
  // Topnav
  // Header
  // Header
  // Page content
  .container-fluid.mt--6
    .row(style="margin-top:100px;")
      .col
        .card
          // Card header
          .card-header.border-0
            h3.mb-0 Categories
          // Light table
          .table-responsive
            table(class="table align-items-center table-flush" id="example")
              thead.thead-light
                tr
                  th.sort(scope='col' data-sort='name') S. No.
                  th.sort(scope='col' data-sort='budget') Name
                  th.sort(scope='col' data-sort='budget') Image
                  th.sort(scope='col' data-sort='budget') Vendor id
                  th.sort(scope='col' data-sort='status') Description
                  th.sort(scope='col' data-sort='status') Actions
                  
              tbody.list
               p(style="display:none;")- var i = 1;
               each category in categoryData
                tr
                  td
                    .media.align-items-center
                      .media-body
                        span.name.mb-0.text-sm= i
                  td
                    .media.align-items-center
                      .media-body
                        span.name.mb-0.text-sm
                         =category.name
                  td
                    .media.align-items-center
                      .media-body
                        span.name.mb-0.text-sm
                         img(src='/views/uploads/'+category.img width="100" height="50") 
                  td
                    .media.align-items-center
                      .media-body
                        span.name.mb-0.text-sm
                         =category.vendor_id.name
                      
                  td.budget
                    span #{category.description.substr(0,30)}
                  
                  td.text-right
                    a.dropdown-item(href="/admin/edit-category/"+category._id) Edit
                    a.dropdown-item(href="/admin/delete-category/"+category._id) Delete
                span(style="display:none;")=i=i+1    
include inc/footer.pug