include inc/header.pug       
// Main content
#panel.main-content
 
  // Topnav
  // Header
  // Header
  // Page content
  .container-fluid.mt--6
    
    .row
      .col
        .card
          // Card header
          .card-header.border-0(style="margin-top:100px;")
            <div _ngcontent-lgx-c105="" class="col-12 text-right" style="margin-top:15px; padding-right:30px;"><a _ngcontent-lgx-c105="" href="/admin/logout" class="btn btn-sm btn-primary">Logout</a></div>
            h3.mb-0 Edit Product
            
          .card-body
           each category in categoryData
            form(method='POST' action='/admin/updateProduct')
             
             div(class="row" style="margin-bottom:20px;")
              div(class="col-md-6")
               <label>Category Name</label>
               <input class="form-control" name="name" placeholder="Name" type="text" value="#{category.name}">
              div(class="col-md-6")
               label Category Image
               input(class="form-control" name="img" placeholder="image" type="file")
               img(src='/views/uploads/'+category.img width="100" height="50") 

              div(class="col-md-10" style="margin-top:20px;")
               label Product
               select(name="product_id" class="form-control")
                option(value='' disabled) Choose Product
                each product in productData 
                 option(value=product._id selected=(category.product_id === product._id))= product.name
              div(class="col-md-12" style="margin-top:20px;")
               label Description
               textarea(class="form-control" name="description" placeholder="Name") #{category.description}
             
               <input type="hidden" name="id" value="#{id}">
               input(type="submit" name="submit" value="Update" class="btn btn-custom right" style="background:blue; color:#fff; margin-top:15px;")
include inc/footer.pug
