include inc/header.pug        
// Main content
#panel.main-content
 
  // Topnav
  // Header
  // Header
  // Page content
  .container-fluid.mt--6
    
    .row
      .col
        .card
          // Card header
          .card-header.border-0(style="margin-top:100px;")
            <div _ngcontent-lgx-c105="" class="col-12 text-right" style="margin-top:15px; padding-right:30px;"><a _ngcontent-lgx-c105="" href="/admin/logout" class="btn btn-sm btn-primary">Logout</a></div>
            h3.mb-0 Add course information
            
          .card-body
           
            form(method='POST' action='/admin/save-course' enctype="multipart/form-data")
             
             div(class="row" style="margin-bottom:20px;")
              div(class="col-md-4")
               label Course Name
               input(class="form-control" name="name" placeholder="Full Name" type="text")

              div(class="col-md-4")
               label Course Image
               input(class="form-control" name="img" placeholder="image" type="file")
              div(class="col-md-4")
               label Price
               input(class="form-control" name="price" placeholder="price" type="text")
              div(class="col-md-11" style="margin-top:20px;")
               label Category
               select(name="category_id" class="form-control")
                option(value='' disabled) Choose Category
                each category in categoryData 
                 <option value="#{category._id}">#{category.name}</option>
             div(class="schedules row")
               div(class="col-md-12") Enter Schedule Details Below
               div(class="schedule_row row")
                div(class="col-md-2" style="margin-top:20px;")
                 label Starting Date
                 input(type="date", name="start_date1", class="form-control" style="max-width:100%" required)
                
                div(class="col-md-2" style="margin-top:20px")
                 label Starting Time
                 input(type="time", name="start_time1", class="form-control" style="max-width:100%" required)
               
                div(class="col-md-2" style="margin-top:20px;")
                 label last Date
                 input(type="date", name="end_date1", class="form-control" style="max-width:100%" required)
                
                div(class="col-md-2" style="margin-top:20px")
                 label End time
                 input(type="time", name="end_time1", class="form-control" style="max-width:100%" required)
                div(class="col-md-2" style="margin-top:20px")
                 label &nbsp;
                 span(class="add_schedule") + Add more
             div(class="row" style="margin-bottom:20px;") 
              div(class="col-md-10" style="margin-top:20px;")
               label Description
               textarea(class="form-control" name="description" style="width:100%;" placeholder="Description")
             
              
               input(type="submit" name="submit" value="Submit" class="btn btn-custom right" style="background:blue; color:#fff; margin-top:15px;")
include inc/footer.pug
