doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Start your development with a Dashboard for Bootstrap 4.')
  meta(name='author' content='Creative Tim')
  title Argon Dashboard - Free Dashboard for Bootstrap 4
  // Favicon
  link(rel='icon' href='/views/assets/img/brand/favicon.png' type='image/png')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
  // Icons
  link(rel='stylesheet' href='/views/assets/vendor/nucleo/css/nucleo.css' type='text/css')
  link(rel='stylesheet' href='/views/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' type='text/css')
  // Argon CSS
  link(rel='stylesheet' href='/views/assets/css/argon.css?v=1.2.0' type='text/css')
// Sidenav
nav#sidenav-main.sidenav.navbar.navbar-vertical.fixed-left.navbar-expand-xs.navbar-light.bg-white
  .scrollbar-inner
    // Brand
    .sidenav-header.align-items-center
      a.navbar-brand(href='javascript:void(0)')
        img.navbar-brand-img(src='/views/assets/img/brand/blue.png' alt='...')
    .navbar-inner
      // Collapse
      #sidenav-collapse-main.collapse.navbar-collapse
        // Nav items
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/admin/employees')
              i.ni.ni-tv-2.text-primary
              span.nav-link-text Leads
          li.nav-item
            a.nav-link(href='/admin/admin-list')
              i.ni.ni-tv-2.text-primary
              span.nav-link-text admins
          li.nav-item
            a.nav-link(href='/admin/new-admin')
              i.ni.ni-tv-2.text-primary
              span.nav-link-text add new admin
        
// Main content
#panel.main-content
 
  // Topnav
  // Header
  // Header
  // Page content
  .container-fluid.mt--6
    
    .row
      .col
        .card
          // Card header
          .card-header.border-0(style="margin-top:100px;")
            <div _ngcontent-lgx-c105="" class="col-12 text-right" style="margin-top:15px; padding-right:30px;"><a _ngcontent-lgx-c105="" href="/admin/logout" class="btn btn-sm btn-primary">Logout</a></div>
            h3.mb-0 Admins
            
          .card-body
           
            form(method='POST' action='/admin/make-admin')
             h6(class="heading-small text-muted mb-4") Admin information
             div(class="row" style="margin-bottom:20px;")
              div(class="col-md-6")
               <label>Full Name</label>
               <input class="form-control" name="fullName" placeholder="Full Name" type="text">
              div(class="col-md-6")
               <label>Email</label>
               <input class="form-control" name="email" placeholder="Email" type="email" >
             div(class="row" style="margin-bottom:20px;")
              div(class="col-md-6")
               <label>Password</label>
               <input class="form-control" name="password" placeholder="Password" type="password" >
              
               input(type="submit" name="submit" value="Submit" class="btn btn-custom right" style="background:blue; color:#fff; margin-top:15px;")
          // Card footer
// Argon Scripts
// Core
script(src='/views/assets/vendor/jquery/dist/jquery.min.js')
script(src='/views/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src='/views/assets/vendor/js-cookie/js.cookie.js')
script(src='/views/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js')
script(src='/views/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js')
// Argon JS
script(src='/views/assets/js/argon.js?v=1.2.0')
