include inc/header
.forcefullwidth_wrapper_tp_banner(style='position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px')
  
section#main_content_gray
  .container
    .row
      .col-md-12.text-center
        h2 Categories
        p.lead
    // End row
    .row
      each category in categoryData
       .col-lg-3.col-md-6.col-sm-6
        .col-item.vendor_grid
          span.ribbon_course
          .photo
            <a href="/category/#{category._id}"><img src="/views/uploads/#{category.img}"/></a>
              
            
              
          .info
            .row
              .course_info.col-md-12.col-sm-12
                h4 #{category.name}
                p !{category.description.substr(0,130)}
                
                
            .separator.clearfix
              
              
      
    // End row
    
  // End container

include inc/footer